.wrapper-section {
    min-height: 100vh;
    padding-block: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url('/assets/images/food-pattern.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    overflow-y: hidden;
}

.wrapper-section .wrapper-div{
    padding-inline: 20rem;
}

@media (max-width: 786px) {
    .wrapper-section .wrapper-div{
        padding-inline: 5rem;
    }
}

@media (max-width: 1086px) and (min-width: 786px) {
    .wrapper-section .wrapper-div{
        padding-inline: 10rem;
    }
}

a:link {
    color: #666666;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #666666;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #bf70cc;
    background-color: transparent;
    text-decoration: none;
}